@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&&display=swap");
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  color: var(--dark-500);
  background-color: var(--light);
}

:root {
  --light: #fff;
  --blue-50: #e4f3ff;
  --blue-100: #f9faff;
  --blue-150: #dcefff;
  --blue-500: #42a5f5;
  --blue-700: #008af9;
  --blue-900: #05529e;
  --blue-1000: #0E47A1;
  --red-100: #ffdddc;
  --red-300: #ec5350;
  --red-500: #e53935;
  --green-500: #4cd7ab;
  --green-700: #1effb8;
  --dark-10: #ececec;
  --dark-50: #eeeeee;
  --dark-100: #fcfcfc;
  --dark-150: #f9f9f9;
  --dark-200: #c9c9c9;
  --dark-300: #939393;
  --dark-400: #4b4b4b;
  --dark-500: #232323;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
.text-bold {
  text-transform: capitalize;
  font-weight: 700;
}

h1,
h2,
h3,
p {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.section-padding {
  padding: 70px 0;
}

.text-gradient {
  color: var(--blue-500);
}

.light-blue {
  background-color: var(--blue-100);
  overflow: hidden;
  margin: 10px;
  border-radius: 20px;
}

.btn-base {
  display: inline-block;
  border-radius: 5px;
  color: var(--light);
  border: 1px solid transparent;
  text-transform: capitalize;
  outline: none;
  box-shadow: none;
}
.btn-base:hover, .btn-base:focus {
  transform: translateY(-8px);
  box-shadow: none;
  outline: none;
}

.btn-blue-light {
  color: var(--light);
  background-color: var(--blue-500);
}
.btn-blue-light:hover, .btn-blue-light:focus {
  color: var(--blue-500);
  background-color: transparent;
  border: 1px solid var(--blue-500);
}

.btn-green-red {
  background-color: var(--green-500);
}
.btn-green-red:hover, .btn-green-red:focus {
  background-color: var(--red-500);
  color: var(--light);
  border: 1px solid var(--red-500);
}

.btn-red-outline {
  color: var(--red-300);
  border: 1px solid var(--red-300);
}
.btn-red-outline:hover, .btn-red-outline:focus {
  color: var(--light);
  background-color: var(--red-300);
}

.btn-red-fill {
  color: var(--light);
  background-color: var(--red-300);
}
.btn-red-fill:hover, .btn-red-fill:focus {
  color: var(--red-300);
  background-color: transparent;
  border: 1px solid var(--red-300);
}

.btn-base-lg {
  padding: 10px 50px;
}

.btn-base-md {
  padding: 10px 40px;
}

.btn-base-small {
  padding: 10px 30px;
}

.btn-base-xs {
  padding: 8px 20px;
}

.btn-base {
  text-decoration: none;
}
.btn-base:hover, .btn-base:focus {
  text-decoration: none;
}

.btn-base {
  transition: 0.3s ease-in;
}

.deposit-100-hero__img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.deposit-100-hero__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.deposit-100-hero {
  position: relative;
  width: 100%;
  overflow: hidden;
  background: var(--blue-1000);
}

.deposit-100-hero__header {
  color: var(--light);
  position: relative;
  z-index: 2;
}

.deposit-100-hero__sub-description {
  font-size: clamp(1.13rem, -0.98rem + 12.23vw, 8.5rem);
  line-height: 136px;
}

.deposit-100-hero__title {
  font-size: clamp(1rem, 0.39rem + 3.52vw, 3.13rem);
}

.deposit-100-hero__description {
  margin-bottom: 20px;
}

.deposit-100-how__title,
.deposit-100-grow__title,
.deposit-100-bonus__title,
.deposit-100-provide__title {
  font-size: clamp(1rem, 0.62rem + 1.62vw, 1.88rem);
  margin-bottom: 20px;
}

.deposit-100-how,
.deposit-100-bonus {
  background-color: var(--blue-100);
}

.deposit-100-how__text,
.deposit-100-provide__description,
.deposit-100-bonus__text,
.deposit-100-grow__description,
.deposit-100-how__item-text {
  color: var(--dark-400);
}

.deposit-100-how__item-text {
  max-width: 336px;
}

.deposit-100-how__item-step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deposit-100-how__header {
  margin-bottom: 50px;
}

.deposit-100-how__item-body {
  position: relative;
}

.deposit-100-how__item-body::before {
  position: absolute;
  bottom: -50px;
  display: block;
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--blue-700);
}

.deposit-100-banner {
  background: url("../img/banner-bg.png") var(--blue-100);
  position: relative;
  background-position: 90%;
  background-size: 40% 100%;
  background-repeat: no-repeat;
  margin: 10px;
  border-radius: 20px;
}

.deposit-100-banner__title {
  font-size: clamp(1rem, 0.62rem + 1.62vw, 1.88rem);
}

.deposit-100-banner__description,
.deposit-100-banner__title {
  margin-bottom: 20px;
}

.deposit-100-banner__description {
  max-width: 484px;
}

.deposit-100-bonus__link {
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 10px;
}

.deposit-100-bonus__link:hover svg {
  padding-left: 10px;
}

.deposit-100-bonus__link svg {
  transition: all 0.3s ease-in;
}

.deposit-100-bonus__text-first,
.deposit-100-bonus__text-second,
.deposit-100-grow__description-second,
.deposit-100-grow__description-first {
  margin-bottom: 30px;
}

@media (max-width: 991.98px) {
  .deposit-100-bonus {
    padding: 70px 0;
  }
  .deposit-100-grow {
    padding: 0 0 70px 0;
  }
  .deposit-100-provide__header,
.deposit-100-grow__header,
.deposit-100-bonus__header {
    margin-top: 50px;
  }
  .deposit-100-hero__header {
    margin-top: 114%;
    display: block;
  }
  .deposit-100-hero__sub-description {
    font-size: clamp(1rem, -4.59rem + 23.86vw, 10.19rem);
  }
  .deposit-100-hero__title {
    font-size: clamp(1rem, -0.67rem + 7.14vw, 3.75rem);
  }
}
@media (max-width: 767.98px) {
  .deposit-100-how__item-step {
    display: flex;
    flex-direction: column;
  }
  .deposit-100-how__item-step-first {
    margin-bottom: 80px;
  }
  .deposit-100-banner {
    background-position: top center;
    background: url("../img/banner-bg-767.png") var(--blue-100);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 50%;
  }
}
@media (max-width: 575.98px) {
  .section-padding {
    padding: 50px 0;
  }
  .btn-base-small {
    padding: 8px 20px;
  }
  .btn-base-lg {
    padding: 8px 40px;
  }
  .btn-base-lg,
.btn-base-small {
    font-size: 0.875rem;
  }
  .deposit-100-banner__header {
    margin-top: 80px;
  }
  .deposit-100-hero__header {
    margin-top: 200px;
  }
  .deposit-100-hero__sub-description {
    font-size: 50px;
    line-height: 1.1;
  }
  .deposit-100-banner__header,
.deposit-100-grow__header,
.deposit-100-bonus__header,
.deposit-100-hero__header,
.deposit-100-provide__header {
    text-align: center;
  }
  .deposit-100-how__item-text,
.deposit-100-banner__description,
.deposit-100-grow__description,
.deposit-100-bonus__text,
.deposit-100-provide__description {
    font-size: 0.813rem;
    line-height: 24px;
  }
  .deposit-100-bonus__link {
    max-width: 210px;
    margin-inline: auto;
  }
  .deposit-100-how__img-container img {
    width: 60%;
    margin-inline: auto;
  }
  .deposit-100-how__item-body::before {
    bottom: -30px;
  }
}/*# sourceMappingURL=style.css.map */